@model IEnumerable<Ahorro_PrestamosFinal.Models.PRESTAMOS>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Registrar Prestamo Clientes</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


<div class="table-responsive">
    <table class="table table-striped table-hover">

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.fecha_solicitud_prestamo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha_aprobacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha_inicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha_termino)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.monto_prestamo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tasa_interes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tiempo_Amortizacion_Meses)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total_Prestamo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.aprovado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CLIENTES.cedula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CLIENTES1.cedula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GARANTIA.tipo_garantia)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.fecha_solicitud_prestamo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fecha_aprobacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fecha_inicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fecha_termino)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.monto_prestamo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tasa_interes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tiempo_Amortizacion_Meses)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total_Prestamo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.aprovado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CLIENTES.cedula)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CLIENTES1.cedula)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GARANTIA.tipo_garantia)
                </td>
                <td>
                    <button type="button" class="btn btn-success"> @Html.ActionLink("Edit", "Edit", new { id = item.id_prestamo })</button>
                    |
                    <button type="button" class="btn btn-warning">@Html.ActionLink("Details", "Details", new { id = item.id_prestamo }) </button>
                   |
                    <button type="button" class="btn btn-danger"> @Html.ActionLink("Delete", "Delete", new { id = item.id_prestamo })</button>
                   
                </td>
            </tr>
        } 
    </table>
</div>
